.card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}
@media screen and (min-width: 768px) {
  .card {
    width: 45%;
    margin: 20px;
  }
}
/* Write CSS code here. */
.heading {
  font-size: 26px;
  font-weight: 800;
  font-family: 'Roboto';
  color: #171f46;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 32px;
  }
}
.description {
  font-size: 13px;
  font-weight: 500;
  font-family: 'Roboto';
  color: #64748b;
}
@media screen and (min-width: 768px) {
  .description {
    font-size: 16px;
  }
}
.logo-img {
  width: 70px;
  height: 70px;
}
@media screen and (min-width: 768px) {
  .logo-img {
    width: 90px;
    height: 90px;
  }
}
.img-container {
  align-self: flex-end;
}
